doctype html(lang='en')
head
    title Oops! Server Error!
    link(type='text/css', rel='stylesheet', href='/static/css/styleError.css')
    body
        #notfound
            .notfound
                .notfound-404
                        h1
                            span 5
                            span 0
                            span 0
                h2 Woah! That's our bad! We'll sort this out soon.
                a(href="/") 
                  button.back-btn &larr; Go back to the main page