extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome To My Page!

    p My portfolio currently consists of 5 really cool projects, 6 including the one you are visiting now! This current project that I'm doing is called the Static Node.JS &amp; Express site where students are encourage to show off the projects they've done so far throughout the Tech Degree. This project was also created to test my skills with Node.JS, Express, Asynchronous Programming, Templating and many more! 

  article.portfolio-project-thumbs
    h1.myprojects My Projects
    .projects-box.box.grid
      each project in project_data 
        .cell  
          a(href=`/project/${project.project_id}`)
            if(project.image_urls)
              img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            else 
              img.thumbnail(src=`https://placehold.it/550x550`, alt='')
            h5 #{project.project_name}
