<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/project_images/photo.png', alt='Hi, its me!')
        .dev-intro-box

          h5 Timothy H. Bourne

          p.about-me Hi there! My name is Timothy Harrington Bourne, or you can call me Tim for short. 
          br
          p.about-me I'm currently taking the Full Stack Javascript Tech Degree at Treehouse. I'm aiming to become a self-taught full-stack developer by the end of this year. When I was a kid, I never thought of becoming a developer, but here I am 25 years later, addicted to writing code and wanting to make web applications for those who need it. 
          br
          p.about-me-1 Anyways, have a look around, test out some of the projects I've done, and feel free to contact me if you have any inquiries - or even if you just want to have a nice ol' chat 😊

          a(href='/about') Wanna Know More? &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Timothy H. Bourne

      block content

  script(src='/static/js/script.js')