doctype html(lang='en')
head
    title Oops! 404!
    link(type='text/css', rel='stylesheet', href='/static/css/styleError.css')
    body
        #notfound
            .notfound
                .notfound-404
                        h1
                            span 4
                            span 0
                            span 4
                h2= error.message
                a(href="/") 
                  button.back-btn &larr; Go back to the main page